.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #bf7c39;
	cursor: pointer;
}

.logo {
  position: absolute;
  top: 160px;
  left: 165px;
	
	
	&.white svg {
		fill: #a1e3cd;
	}
	
	&.brown svg {
		fill: #bf7c39;
	}
	
	&.small {
		transform: scale(0);
		transition: all 0.5s ease-in;
	}
	
	&.normal {
		transform: scale(1);
		transition: all 0.5s ease-out 0.3s;
	}
	
	&.big {
		transform: scale(10);
		transition: all 0.5s ease-in;
	}
}
