.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #264a52;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.frame:hover .rect {
  animation-play-state: paused;
}

.rect {
  border: 1px solid #c2c451;
  position: absolute;
}

.rect1 {
  width: 200px;
  height: 200px;
  top: 100px;
  left: 100px;
  animation: rotate 2s ease-in-out 0.0333333333s alternate infinite;
}

.rect2 {
  width: 190px;
  height: 190px;
  top: 105px;
  left: 105px;
  animation: rotate 2s ease-in-out 0.0666666667s alternate infinite;
}

.rect3 {
  width: 180px;
  height: 180px;
  top: 110px;
  left: 110px;
  animation: rotate 2s ease-in-out 0.1s alternate infinite;
}

.rect4 {
  width: 170px;
  height: 170px;
  top: 115px;
  left: 115px;
  animation: rotate 2s ease-in-out 0.1333333333s alternate infinite;
}

.rect5 {
  width: 160px;
  height: 160px;
  top: 120px;
  left: 120px;
  animation: rotate 2s ease-in-out 0.1666666667s alternate infinite;
}

.rect6 {
  width: 150px;
  height: 150px;
  top: 125px;
  left: 125px;
  animation: rotate 2s ease-in-out 0.2s alternate infinite;
}

.rect7 {
  width: 140px;
  height: 140px;
  top: 130px;
  left: 130px;
  animation: rotate 2s ease-in-out 0.2333333333s alternate infinite;
}

.rect8 {
  width: 130px;
  height: 130px;
  top: 135px;
  left: 135px;
  animation: rotate 2s ease-in-out 0.2666666667s alternate infinite;
}

.rect9 {
  width: 120px;
  height: 120px;
  top: 140px;
  left: 140px;
  animation: rotate 2s ease-in-out 0.3s alternate infinite;
}

.rect10 {
  width: 110px;
  height: 110px;
  top: 145px;
  left: 145px;
  animation: rotate 2s ease-in-out 0.3333333333s alternate infinite;
}

.rect11 {
  width: 100px;
  height: 100px;
  top: 150px;
  left: 150px;
  animation: rotate 2s ease-in-out 0.3666666667s alternate infinite;
}

.rect12 {
  width: 90px;
  height: 90px;
  top: 155px;
  left: 155px;
  animation: rotate 2s ease-in-out 0.4s alternate infinite;
}

.rect13 {
  width: 80px;
  height: 80px;
  top: 160px;
  left: 160px;
  animation: rotate 2s ease-in-out 0.4333333333s alternate infinite;
}

.rect14 {
  width: 70px;
  height: 70px;
  top: 165px;
  left: 165px;
  animation: rotate 2s ease-in-out 0.4666666667s alternate infinite;
}

.rect15 {
  width: 60px;
  height: 60px;
  top: 170px;
  left: 170px;
  animation: rotate 2s ease-in-out 0.5s alternate infinite;
}

.rect16 {
  width: 50px;
  height: 50px;
  top: 175px;
  left: 175px;
  animation: rotate 2s ease-in-out 0.5333333333s alternate infinite;
}

.rect17 {
  width: 40px;
  height: 40px;
  top: 180px;
  left: 180px;
  animation: rotate 2s ease-in-out 0.5666666667s alternate infinite;
}

.rect18 {
  width: 30px;
  height: 30px;
  top: 185px;
  left: 185px;
  animation: rotate 2s ease-in-out 0.6s alternate infinite;
}

.rect19 {
  width: 20px;
  height: 20px;
  top: 190px;
  left: 190px;
  animation: rotate 2s ease-in-out 0.6333333333s alternate infinite;
}

.rect20 {
  width: 10px;
  height: 10px;
  top: 195px;
  left: 195px;
  animation: rotate 2s ease-in-out 0.6666666667s alternate infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
