@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    overflow: hidden;
  background: #FDA231;
  color: #79857e;
	font-family: 'Roboto', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.container {
	width: 240px;
	height: 280px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.head {
	text-align: center;
	padding: 20px 0;
	margin: 0 30px;
	border-bottom: 1px solid #79857e;
	color: #79857e;
}

.title {
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
}

.subtitle {
	font-size: 12px;
	line-height: 18px;
}

ul {
	padding: 4px 0px;
	margin: 0 30px;
}

li {
	list-style: none;
	margin: 24px 0;
	position: relative;
	display: block;
	height: 14px;
}

.text {
	float: left;
	font-size: 14px;
	line-height: 14px;
	cursor: pointer;
	transition: all 0.5s ease-out;
}

.button {
	width: 12px;
	height: 12px;
	z-index: 1;
	border-radius: 50%;
	position: relative;
	border: 1px solid #79857e;
	position: relative;
	float: right;
	cursor: pointer;
	transition: all 0.5s ease-out 0.4s;
}

.checkmark {
	position: absolute;
	top: 2px;
	right: 0;
	stroke: #79857e;
	stroke-width: 1.5;
	stroke-dasharray: 30 30;
	stroke-dashoffset: 30;
	fill: none;
	transition: all 0.5s ease-out;
}

input {
	display: none;
	
	&:checked ~ .text {
		color: #bacfc3;
	}
	
	&:checked ~ .button {
		transition: all 0.4s ease-in;
		transform: scale(1.5);
		opacity: 0;
	}
	
	&:checked ~ .checkmark {
		stroke-dashoffset: 0;
		transition: all 0.5s ease-out 0.4s;
	}
}



